.shadowFon{
    background-color: rgba(0,0,0,0.3);

    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    position: fixed;
}

.RegisterWindow{
    position: fixed;
    width: 60%;
    margin-left: 20%;
    bottom: 150px;
    border-radius: 6px;
    height: 350px;
    background-color: white;
    border: 1px black solid;
    animation-name: blockMove;
    animation-duration: .9s;
}

.container {
    display: flex;
}

.RegisterWindow input {
    display: block;
    margin-top: 30px;
    width: 80%;
    height: 30px;

}

.side {
    width: 50%;
}

.side h3 {
    margin-top: 35px;
}

h2 {
    text-align: center;
}

.changeBtn {
    text-decoration: underline;
    cursor: pointer;
}