<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Document</title>
    <style type="text/css">
        .headerContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border: 1px black solid;
        }



        h1 {
            color: red;
        }
    </style>

</head>
<body>
    <div class="headerContainer">
        <h1>Благодарим за заказ, на проекте LavLi</h1>
    </div>
</body>
</html>