.container{
    font-family: Arial, sans-serif;
    width: 80%;
    min-height: 100vh;
    padding-bottom: 50px;
    background-color: white;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "leftSide rightSide rightSide rightSide";
}



.leftSide {
    grid-area: leftSide;
    border-right: 1px black solid;

}

.rightSide {
    grid-area: rightSide;
}

.leftSide * {
    cursor: pointer;
}

.active {
    background-color: darkslateblue;
    color: white;
}

.nonActive {
    color: black;
}