.container {
    border: 1px black solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-decoration: none;
    color: black;
}

.productImg {
    width: 100%;
}

.container h4 {
    text-align: center;
}