.container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr) );
    grid-template-rows: minmax(min-content, max-content);
}