.container {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-decoration: none;
    color: black;
}

img {
    width: 95%;
}

h3  {
    padding: 5px 0;
    text-align: center;
}